@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #e5e5e5;
  --midnight: #121212;
  --gold: #d4af37;
  --lightRed: #db0b20;
  --darkRed: #8c0d1a;
  --card-bg: #1e1e1e;
  --light: #a6abab;
  --lightGray: #414242;
  --darkGray: #191a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-midnight: var(--midnight);
  --color-lightRed: var(--lightRed);
  --color-darkRed: var(--darkRed);
  --color-brass: var(--brass);
  --color-card-bg: var(--card-bg);
  --color-light: var(--light);
  --color-lightGray: var(--lightGray);
  --color-darkGray: var(--darkGray);
  --animate-spin-slow: spin 8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}